#root {
  width: 100%; /* Ocupar 100% da largura da tela */
  height: 100vh; /* Ocupar 100% da altura da tela */
  max-width: 1280px; /* Mantém a largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 2rem; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
  display: flex; /* Permite usar flexbox */
  flex-direction: column; /* Direção da coluna */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

